<!DOCTYPE html>
<html>

<head>
    <title>Finance Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

    <div class="navbar">
    <div class="nav-left">
        <h2>📊 Finance Dashboard</h2>
        <p>👤 Logged in as: <b>{{ session['user'] }}</b></p>
    </div>

    <div class="nav-right">
        <a href="/logout" class="logout-btn">Logout</a>
    </div>
</div>

        <!-- CARDS -->
        <div class="dashboard">
            <div class="card income">Income <br> ₹{{ income }}</div>
            <div class="card expense">Expense <br> ₹{{ expense }}</div>
            <div class="card balance">Balance <br> ₹{{ balance }}</div>
        </div>

        <br>
        <a href="/add">+ Add Transaction</a>

        <!-- TABLE -->
        <table>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Date</th>
                <th>Action</th>
            </tr>

            {% for t in data %}
            <tr>
                <td>{{ t.description }}</td>
                <td>₹{{ t.amount }}</td>
                <td>{{ t.type }}</td>
                <td>{{ t.date }}</td>
                <td><a href="/delete/{{ t.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>

       <!-- GRAPH SECTION -->
<div class="chart-card">
    <h3>📊 Income vs Expense</h3>

    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Income', 'Expense'],
            datasets: [{
                data: [{{ income }}, {{ expense }}],
                backgroundColor: ['#28a745', '#dc3545'],
                borderWidth: 2
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'bottom'
                }
            }
        }
    });
</script>
<footer class="footer">
    <p>
        🚀 Developed by <b>Diwakar Raj</b> |
        <a href="https://github.com/diwakarraj14" target="_blank">GitHub</a> |
        <a href="https://www.linkedin.com/in/diwakar-raj-nishad" target="_blank">LinkedIn</a>
    </p>
</footer>

</body>

</html>