{% extends 'base.html' %}
{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">
        <h2>✨ Create Account</h2>
        <p class="subtitle">Join & start tracking your finances</p>

        <form method="POST">

            <div class="input-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>

            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <button type="submit">Create Account</button>

        </form>

        <p class="switch-text">
            Already have an account?
            <a href="/login">Login</a>
        </p>
    </div>

</div>

{% endblock %}